

     <!-- Sobre nos -->
          <section id="quensomos"  data-stellar-background-ratio="0.5" {{attributes}}>
          <div class="container">
               <div class="row">
                    <div class="col">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h4>{{content.field_subtitle.0}}</h4>
                                   <h2>{{content.field_title.0}}</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                  {{content.field_content.0}}
                                 <div class="centrar"> {{content.field_link.0}}</div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

 
                                